<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems,
Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>soapServiceServlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>restServiceServlet</servlet-name>
        <servlet-class>com.</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>
                com.ibm.jaxrs.sample.organization.ContactInfoApplication
            </param-value>
        </init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>restServiceServlet</servlet-name>
        <url-pattern>/REST</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>soapServiceServlet</servlet-name>
        <url-pattern>/SOAP</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>120</session-timeout>

    </session-config>
</web-app>